/*====== Style dla strony powitalnej ======*/
.welcome
{
    display: flex;
    justify-content: center;
    color:white;
    width: 100%;
    font-size: 20px;
    margin-top: 10%;
    box-sizing: border-box;
}