   <fieldset class="fieldsetKierunki static" id="1">
    <legend class="legend">DANE</legend>
    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" type="text" required="required" id="imie" /><span class="highlight"></span><span class="bar"></span>
        <label for="imie" class="label">Imię</label>
    </div>
    </span>
    </span>
    <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" type="text" required="required" id="nazwisko"/><span class="highlight"></span><span class="bar"></span>
    <label for="nazwisko" class="label">Nazwisko</label>
    </div>
    </span>
    </span>
    </div>

    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" type="text" required="required" id="imie_ojca"/><span class="highlight"></span><span class="bar"></span>
        <label for="imie_ojca" class="label">Imię ojca</label>
    </div>
    </span>
    </span>
    <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" type="text" required="required" id="telefon"/><span class="highlight"></span><span class="bar"></span>
    <label for="telefon" class="label">Telefon</label>
    </div>
    </span>
    </span>
    </div>

    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" type="text" required="required" id="adres"/><span class="highlight"></span><span class="bar"></span>
        <label for="adres" class="label">Adres</label>
    </div>
    </span>
    </span>
    <span class="space">
			<span class="wrapper">
				<div class="group">
					<input maxlength="6" class="inputBTN" type="text" required="required" id="kod_pocztowy"/><span class="highlight"></span><span class="bar"></span>
    <label for="kod_pocztowy" class="label">Kod pocztowy</label>
    </div>
    </span>
    </span>
    </div>

    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" type="text" required="required" id="poczta"/><span class="highlight"></span><span class="bar"></span>
        <label for="poczta"  class="label">Poczta</label>
    </div>
    </span>
    </span>
    <span class="space">
			<span class="wrapper">
				<div class="group">
					<input maxlength="11" class="inputBTN" type="text" required="required" id="PESEL"/><span class="highlight"></span><span class="bar"></span>
    <label for="PESEL" class="label">PESEL</label>
    </div>
    </span>
    </span>
    </div>

    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" type="text" required="required" id="gimnazjum"/><span class="highlight"></span><span class="bar"></span>
        <label for="gimnazjum" class="label">Gimnazjum</label>
    </div>
    </span>
    </span>
    </div>
    <div class="row" style="margin-top:10px;">
        <span class="space">
			<form id="form">
				<div class="radio-group">
					<input class="radiosWybierz" type="radio" id="option-one" name="plec" value="mezczyzna">
					<!--Brak znaków białych dla poprawnego wyświetlania-->
					<label class="labelWybierz " for="option-one">MĘŻCZYZNA</label><input class="radiosWybierz" type="radio" id="option-two" name="plec" value="kobieta"><label class="labelWybierz" for="option-two">KOBIETA</label>
				</div>
			</form>
		</span>
    </div>
</fieldset>

<fieldset class="fieldsetKierunki static" id="2">
    <legend class="legend">PUNKTACJA EGZAMIN GMNAZJALNY</legend>
    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="polski_egzamin" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
        <label for="polski_egzamin" class="label">Język polski</label>
    </div>
    </span>
    </span>
    </div>

    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="wos_egzamin" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
        <label for="wos_egzamin" class="label">WOS</label>
    </div>
    </span>
    </span>
    </div>

    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="matem_egzamin" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
        <label for="matem_egzamin"  class="label">Matematyka</label>
    </div>
    </span>
    </span>
    </div>

    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="przyroda_egzamin" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
        <label for="przyroda_egzamin" class="label">Przyroda</label>
    </div>
    </span>
    </span>
    </div>

    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="j_podstawowy_egzamin" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
        <label for="j_podstawowy_egzamin" class="label">Język podstawowy</label>
    </div>
    </span>
    </span>
    </div>

    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="j_rozszerzony_egzamin" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
        <label for="j_rozszerzony_egzamin" class="label">Język rozszerzony</label>
    </div>
    </span>
    </span>
    </div>
</fieldset>

<fieldset class="fieldsetKierunki static" id="3">
    <legend class="legend">PUNKTACJA ŚWIADECTWO</legend>
    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="polski_swiadectwo" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
        <label for="polski_swiadectwo" class="label">Język polski</label>
    </div>
    </span>
    </span>
    <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="wos_swiadectwo" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
    <label for="wos_swiadectwo" class="label">WOS</label>
    </div>
    </span>
    </span>
    </div>

    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="matem_swiadectwo" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
        <label for="matem_swiadectwo" class="label">Matematyka</label>
    </div>
    </span>
    </span>
    <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="angielski_swiadectwo" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
    <label for="angielski_swiadectwo" class="label">Język angielski</label>
    </div>
    </span>
    </span>
    </div>

    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="przed_dod_swiadectwo" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
        <label for="przed_dod_swiadectwo" class="label">Przedmiot dodatkowy</label>
    </div>
    </span>
    </span>
    <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="j_rozszerzony_swiadectwo" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
    <label for="j_rozszerzony_swiadectwo" class="label">Język rozszerzony</label>
    </div>
    </span>
    </span>
    </div>

    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="naukowe_swiadectwo" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
        <label for="naukowe_swiadectwo" class="label">Osiągnięcia naukowe</label>
    </div>
    </span>
    </span>
    <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="sportowe_swiadectwo" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
    <label for="sportowe_swiadectwo" class="label">Osiągnięcia sportowe</label>
    </div>
    </span>
    </span>
    </div>

    <div class="row">
        <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="art_swiadectwo" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
        <label for="art_swiadectwo" class="label">Osiągbnięcia artystyczne</label>
    </div>
    </span>
    </span>
    <span class="space">
			<span class="wrapper">
				<div class="group">
					<input class="inputBTN" required="required" type="text" id="wol_swiadectwo" maxlength="2"/><span class="highlight"></span><span class="bar"></span>
    <label for="wol_swiadectwo" class="label">Wolontariat</label>
    </div>
    </span>
    </span>
    </div>

    <div class="row">
        <span class="space" style="float: left; margin-left: 20%;">	
			<form id="form2">
				<div>Pasek:</div>
				<span class="radio-group">
					<input class="radiosWybierz" type="radio" name="pasek" id="tak" value="tak"><label class="labelWybierz" for="tak">TAK</label><input class="radiosWybierz" type="radio" name="pasek" id="nie" value="nie"><label class="labelWybierz" for="nie">NIE</label>
				</span>
        </form>
        </span>
        <span class="space" style="float: right; margin-right: 20%;">
			<form id="form3">
				<div>Świadectwo:</div>
				<span class="radio-group">
					<input class="radiosWybierz" type="radio" name="kopia" id="first" value="kopia"><label class="labelWybierz" for="first">KOPIA</label><input class="radiosWybierz" type="radio" name="kopia" id="second" value="oryginal"><label class="labelWybierz" for="second">ORYGINAŁ</label>
				</span>
        </form>
        </span>
    </div>
</fieldset>
<fieldset class="fieldsetKierunki static" id="4">
    <legend class="legend"> DODATKOWE INFORMACJE</legend>

    <div class="row2">
        <div class="space">
            <label class="lineH">Język wyuczony w gimnazjum I:</label>
            <div class="select lineHP">
                <select class="selectClass" id="j1_gimnazjum">
					<option value="angielski">angielski</option>
					<option value="niemiecki">niemiecki</option>
					<option value="rosyjski">rosyjski</option>
					<option value="hiszpański">hiszpański</option>
					<option value="francuski">francuski</option>
				</select>
            </div>
        </div>
        <div class="clear"></div>
        <div class="space">
            <label class="lineH">Język wyuczony w gimnazjum II:</label>
            <div class="select lineHP">
                <select class="selectClass" id="j2_gimnazjum">
					<option value="angielski">angielski</option>
					<option value="niemiecki">niemiecki</option>
					<option value="rosyjski">rosyjski</option>
					<option value="hiszpański">hiszpański</option>
					<option value="francuski">francuski</option>
				</select>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="row2">
        <div class="space">
            <label class="lineH">Język wybrany przez kandydata do szkoły I:</label>
            <div class="select lineHP">
                <select class="selectClass" id="j1_wybrany">
					<option value="angielski">angielski</option>
					<option value="niemiecki">niemiecki</option>
					<option value="rosyjski">rosyjski</option>
					<option value="francuski">francuski</option>
				</select>
            </div>
        </div>
        <div class="clear"></div>
        <div class="space">
            <label class="lineH">Język wybrany przez kandydata do szkoły II:</label>
            <div class="select lineHP">
                <select class="selectClass" id="j2_wybrany">
					<option value="angielski">angielski</option>
					<option value="niemiecki">niemiecki</option>
					<option value="rosyjski">rosyjski</option>
					<option value="francuski">francuski</option>
				</select>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="row2">
        <div class="space">
            <label class="lineH">Typ klasy I  :</label>
            <div class="select more lineHP">
                <select class="selectClass" id="typ1">
					<option value="t.mech.poj.samochodowy">t.mech.poj.samochodowy</option>
					<option value="t.elektronik">t.elektronik</option>
					<option value="t.informatyk">t.informatyk</option>
					<option value="t.mechatronik">t.mechatronik</option>
					<option value="t.urz.i.s.en.odnawialnej">t.urz.i.s.en.odnawialnej</option>
					<option value="t.mech.spawacz">t.mech.spawacz</option>
					<option value="t.mech.cad/cam">t.mech.cad/cam</option>
					<option value="t.żyw.i.us.gastronomicznych">t.żyw.i.us.gastronomicznych</option>
					<option value="t.mech.rolnictwa">t.mech.rolnictwa</option>
					<option value="t.hotelarz">t.hotelarz</option>
					<option value="t.handlowiec">t.handlowiec</option>
					<option value="zsz.mech.poj.samochodowych">zsz.mech.poj.samochodowych</option>
					<option value="zsz.op.ob.skrawających">zsz.op.ob.skrawających</option>
					<option value="zsz.stolarz">zsz.stolarz</option>
					<option value="zsz.elektryk">zsz.elektryk</option>
					<option value="zsz.murarz-tynkarz">zsz.murarz-tynkarz</option>
					<option value="zsz.ślusarz">zsz.ślusarz</option>
					<option value="zsz.mech.op.poj.i.m.rolnicznych">zsz.mech.op.poj.i.m.rolnicznych</option>
					<option value="zsz.sprzedawca">zsz.sprzedawca</option>
					<option value="zsz.fryzjer">zsz.fryzjer</option>
					<option value="zsz.cukiernik">zsz.cukiernik</option>
					<option value="zsz.piekarz">zsz.piekarz</option>
					<option value="zsz.kucharz">zsz.kucharz</option>
				</select>
            </div>
        </div>
        <div class="clear"></div>
        <div class="space">
            <label class="lineH">Typ klasy II  :</label>
            <div class="select more lineHP">
                <select class="selectClass" id="typ2">
					<option value="t.mech.poj.samochodowy">t.mech.poj.samochodowy</option>
					<option value="t.elektronik">t.elektronik</option>
					<option value="t.informatyk">t.informatyk</option>
					<option value="t.mechatronik">t.mechatronik</option>
					<option value="t.urz.i.s.en.odnawialnej">t.urz.i.s.en.odnawialnej</option>
					<option value="t.mech.spawacz">t.mech.spawacz</option>
					<option value="t.mech.cad/cam">t.mech.cad/cam</option>
					<option value="t.żyw.i.us.gastronomicznych">t.żyw.i.us.gastronomicznych</option>
					<option value="t.mech.rolnictwa">t.mech.rolnictwa</option>
					<option value="t.hotelarz">t.hotelarz</option>
					<option value="t.handlowiec">t.handlowiec</option>
					<option value="zsz.mech.poj.samochodowych">zsz.mech.poj.samochodowych</option>
					<option value="zsz.op.ob.skrawających">zsz.op.ob.skrawających</option>
					<option value="zsz.stolarz">zsz.stolarz</option>
					<option value="zsz.elektryk">zsz.elektryk</option>
					<option value="zsz.murarz-tynkarz">zsz.murarz-tynkarz</option>
					<option value="zsz.ślusarz">zsz.ślusarz</option>
					<option value="zsz.mech.op.poj.i.m.rolnicznych">zsz.mech.op.poj.i.m.rolnicznych</option>
					<option value="zsz.sprzedawca">zsz.sprzedawca</option>
					<option value="zsz.fryzjer">zsz.fryzjer</option>
					<option value="zsz.cukiernik">zsz.cukiernik</option>
					<option value="zsz.piekarz">zsz.piekarz</option>
					<option value="zsz.kucharz">zsz.kucharz</option>
				</select>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="row2">
        <div class="space">
            <label class="lineH">Typ klasy III  :</label>
            <div class="select more lineHP">
                <select class="selectClass" id="typ3">
					<option value="t.mech.poj.samochodowy">t.mech.poj.samochodowy</option>
					<option value="t.elektronik">t.elektronik</option>
					<option value="t.informatyk">t.informatyk</option>
					<option value="t.mechatronik">t.mechatronik</option>
					<option value="t.urz.i.s.en.odnawialnej">t.urz.i.s.en.odnawialnej</option>
					<option value="t.mech.spawacz">t.mech.spawacz</option>
					<option value="t.mech.cad/cam">t.mech.cad/cam</option>
					<option value="t.żyw.i.us.gastronomicznych">t.żyw.i.us.gastronomicznych</option>
					<option value="t.mech.rolnictwa">t.mech.rolnictwa</option>
					<option value="t.hotelarz">t.hotelarz</option>
					<option value="t.handlowiec">t.handlowiec</option>
					<option value="zsz.mech.poj.samochodowych">zsz.mech.poj.samochodowych</option>
					<option value="zsz.op.ob.skrawających">zsz.op.ob.skrawających</option>
					<option value="zsz.stolarz">zsz.stolarz</option>
					<option value="zsz.elektryk">zsz.elektryk</option>
					<option value="zsz.murarz-tynkarz">zsz.murarz-tynkarz</option>
					<option value="zsz.ślusarz">zsz.ślusarz</option>
					<option value="zsz.mech.op.poj.i.m.rolnicznych">zsz.mech.op.poj.i.m.rolnicznych</option>
					<option value="zsz.sprzedawca">zsz.sprzedawca</option>
					<option value="zsz.fryzjer">zsz.fryzjer</option>
					<option value="zsz.cukiernik">zsz.cukiernik</option>
					<option value="zsz.piekarz">zsz.piekarz</option>
					<option value="zsz.kucharz">zsz.kucharz</option>
				</select>
            </div>
        </div>
    </div>
</fieldset>
<div class="buttons">
    <button class="btn" id="one">1</button>
    <button class="btn" id="two">2</button>
    <button class="btn" id="three">3</button>
    <button class="btn" id="four">4</button>
</div>
<div class="dodajDiv">
    <button class="dodaj" id="submit">DODAJ</button>
</div>
<div id="result"></div>
