<ul class="nav">
    <li>
        <a>Technikum</a>
        <div>
            <div class="nav-column">
                <h3>Kierunki w technikum</h3>
                <ul>
                    <li><a data-kierunek="t.elektronik" class="elektronik">Technik elektronik</a></li>
                    <li><a data-kierunek="t.mech.poj.samochodowy" class="mechPojSamochodowy">Technik pojazdów samochodowych</a></li>
                    <li><a data-kierunek="t.informatyk" class="informatyk">Technik informatyk</a></li>
                    <li><a data-kierunek="t.mechatronik" class="mechatronik">Technik mechatronik</a></li>
                    <li><a data-kierunek="t.urz.i.s.en.odnawialnej" class="urzIsEnOdnawialnej">Technik urządzeń i systemów energetyki odnawialnej</a></li>
                    <li><a data-kierunek="t.zyw.i.us.gastronomicznych" class="zywIUsGastronomicznych">Technik żywienia i usług gastronomicznych</a></li>
                </ul>
            </div>
 
            <div class="nav-column">
                <h3>Kierunki w technikum</h3>
                <ul>
                    <li><a data-kierunek="t.mech.rolnictwa" class="mechRolnictwa">Technik mechanizacji rolnictwa</a></li>
                    <li><a data-kierunek="t.hotelarz" class="hotelarz">Technik hotelarstwa</a></li>
                    <li><a data-kierunek="t.handlowiec" class="handlowiec">Technik handlowiec</a></li>
                    <li><a data-kierunek="t.mech.spawacz" class="mechSpawacz">Technik mechanik spec.spawalnictwo</a></li>
                    <li><a data-kierunek="t.mech.cad/cam" class="mechCad_cam">Technik mechanik spec. projektowanie i wytwarzanie CAD/CAM</a></li>
                </ul>
        	</div>
        </div>
    </li>
    <li><a>Szkoła branżowa</a>
    	<div>
    		<div class="nav-column">
    		<h3>Kierunki szkoła branżowa</h3>
	    		<ul>
	    			<li><a data-kierunek="zsz.op.ob.skrawajacych" class="opObSkrawajacych">Operator obrabiarek skrawających</a></li>
	    			<li><a data-kierunek="zsz.stolarz" class="stolarz">Stolarz</a></li>
	    			<li><a data-kierunek="zsz.elektryk" class="elektryk">Elektryk</a></li>
	    			<li><a data-kierunek="zsz.murarz-tynkarz" class="murarzTynkarz">Murarz-tynkarz</a></li>
	    			<li><a data-kierunek="zsz.slusarz" class="slusarz">Ślusarz</a></li>
	    			<li><a data-kierunek="zsz.mech.op.poj.i.m.rolnicznych" class="mechOpPojImRolnicznych">Mechanik-operator pojazdów i maszyn rolniczych</a></li>
	    		</ul>
    		</div>
    		<div class="nav-column">
    		<h3>Kierunki szkoła branżowa</h3>
	    		<ul>
	    			<li><a data-kierunek="zsz.mech.poj.samochodowych" class="mechPojSamochodowych">Mechanik pojazdów samochodowych</a></li>
	    			<li><a data-kierunek="zsz.sprzedawca" class="sprzedawca">Sprzedawca</a></li>
	    			<li><a data-kierunek="zsz.fryzjer" class="fryzjer">Fryzjer</a></li>
	    			<li><a data-kierunek="zsz.cukiernik" class="cukiernik">Cukiernik</a></li>
	    			<li><a data-kierunek="zsz.piekarz" class="piekarz">Piekarz</a></li>
	    			<li><a data-kierunek="zsz.kucharz" class="kucharz">Kucharz</a></li>
	    		</ul>
    		</div>
    	</div>
    </li>
    
    <li><a>Technikum/branża</a>
    	<div>
    	    <div class="nav-column">
                <h3>Kierunki w technikum</h3>
                <ul>
                    <li><a data-kierunek="t.elektronik" class="elektronik">Technik elektronik</a></li>
                    <li><a data-kierunek="t.mech.poj.samochodowy" class="mechPojSamochodowy">Technik pojazdów samochodowych</a></li>
                    <li><a data-kierunek="t.informatyk" class="informatyk">Technik informatyk</a></li>
                    <li><a data-kierunek="t.mechatronik" class="mechatronik">Technik mechatronik</a></li>
                    <li><a data-kierunek="t.urz.i.s.en.odnawialnej" class="urzIsEnOdnawialnej">Technik urządzeń i systemów energetyki odnawialnej</a></li>
                    <li><a data-kierunek="t.zyw.i.us.gastronomicznych" class="zywIUsGastronomicznych">Technik żywienia i usług gastronomicznych</a></li>
                </ul>

    		<h3>Kierunki szkoła branżowa</h3>
	    		<ul>
	    			<li><a data-kierunek="zsz.op.ob.skrawajacych" class="opObSkrawajacych">Operator obrabiarek skrawających</a></li>
	    			<li><a data-kierunek="zsz.stolarz" class="stolarz">Stolarz</a></li>
	    			<li><a data-kierunek="zsz.elektryk" class="elektryk">Elektryk</a></li>
	    			<li><a data-kierunek="zsz.murarz-tynkarz" class="murarzTynkarz">Murarz-tynkarz</a></li>
	    			<li><a data-kierunek="zsz.slusarz" class="slusarz">Ślusarz</a></li>
	    			<li><a data-kierunek="zsz.mech.op.poj.i.m.rolnicznych" class="mechOpPojImRolnicznych">Mechanik-operator pojazdów i maszyn rolniczych</a></li>
	    		</ul>
    		</div>
            <div class="nav-column">
                <h3>Kierunki w technikum</h3>
                <ul>
                    <li><a data-kierunek="t.mech.rolnictwa" class="mechRolnictwa">Technik mechanizacji rolnictwa</a></li>
                    <li><a data-kierunek="t.hotelarz" class="hotelarz">Technik hotelarstwa</a></li>
                    <li><a data-kierunek="t.handlowiec" class="handlowiec">Technik handlowiec</a></li>
                    <li><a data-kierunek="t.mech.spawacz" class="mechSpawacz">Technik mechanik spec.spawalnictwo</a></li>
                    <li><a data-kierunek="t.mech.cad/cam" class="mechCad_cam">Technik mechanik spec. projektowanie i wytwarzanie CAD/CAM</a></li>
                </ul>
    		<h3>Kierunki szkoła branżowa</h3>
	    		<ul>
	    			<li><a data-kierunek="zsz.mech.poj.samochodowych" class="mechPojSamochodowych">Mechanik pojazdów samochodowych</a></li>
	    			<li><a data-kierunek="zsz.sprzedawca" class="sprzedawca">Sprzedawca</a></li>
	    			<li><a data-kierunek="zsz.fryzjer" class="fryzjer">Fryzjer</a></li>
	    			<li><a data-kierunek="zsz.cukiernik" class="cukiernik">Cukiernik</a></li>
	    			<li><a data-kierunek="zsz.piekarz" class="piekarz">Piekarz</a></li>
	    			<li><a data-kierunek="zsz.kucharz" class="kucharz">Kucharz</a></li>
	    		</ul>
    		</div>
    	</div>
    </li>
</ul>
<div class="listContent" id="content"></div>