<div class="przyjeciContent">
    Lista przyjętych do:
    <select id="mainSelect">
            <option value="t.elektronik">t.elektronik</option>
            <option value="t.handlowiec">t.handlowiec</option>
            <option value="t.hotelarz">t.hotelarz</option>
            <option value="t.informatyk">t.informatyk</option>
            <option value="t.mech.cad/cam">t.mech.cad/cam</option>
            <option value="t.mech.poj.samochodowy">t.mech.poj.samochodowy</option>
            <option value="t.mech.rolnictwa">t.mech.rolnictwa</option>
            <option value="t.mech.spawacz">t.mech.spawacz</option>
            <option value="t.mechatronik">t.mechatronik</option>
            <option value="t.urz.i.s.en.odnawialnej">t.urz.i.s.en.odnawialnej</option>
            <option value="t.zyw.i.us.gastronomicznych">t.zyw.i.us.gastronomicznych</option>
            <option value="zsz.cukiernik">zsz.cukiernik</option>
            <option value="zsz.elektryk">zsz.elektryk</option>
            <option value="zsz.fryzjer">zsz.fryzjer</option>
            <option value="zsz.kucharz">zsz.kucharz</option>
            <option value="zsz.mech.op.poj.i.m.rolnicznych">zsz.mech.op.poj.i.m.rolnicznych</option>
            <option value="zsz.mech.poj.samochodowych">zsz.mech.poj.samochodowych</option>
            <option value="zsz.murarz-tynkarz">zsz.murarz-tynkarz</option>
            <option value="zsz.op.ob.skrawajacych">zsz.op.ob.skrawajacych</option>
            <option value="zsz.piekarz">zsz.piekarz</option>
            <option value="zsz.slusarz">zsz.slusarz</option>
            <option value="zsz.sprzedawca">zsz.sprzedawca</option>
            <option value="zsz.stolarz">zsz.stolarz</option>
        </select>
    <button id="pokaz">Pokaż</button>
    <div id="listaPrzyjetych"></div>
</div>