<div class="sideBar">
	<div id="dodaj" class="margin btn2">Dodaj użytkownika</div>
	<div id="usun" class="margin btn2">Usuń użytkownika</div>
	<div id="zmien" class="margin btn2">Zmień hasło użytkownikowi</div>
</div>
<div class="contentUser">
	<div id="1">
		Dodaj użytkownika:	
		<input id="login" class="input" type="text" placeholder="Login">
		<input id="pass" class="input" type="password" placeholder="Hasło"> 
		<button class="btnUsers" id="btnDodaj">Dodaj</button>
		<button class="btnUsers" id="reset">Czyść</button>

		<div id="result1"></div>
	</div>

	<span id="2">
		<span class="resultR">
			Usuń użytkownika: <span id="22"></span><button class="btnUsers" id="delete">Usuń</button>
		</span>
		<div id="deleteResult"></div>
	</span>

	<div id="3">
		Zmień hasło u: <span id="33"></span> => <input class="input" type="text" id="changePass" placeholder="nowe hasło"><button class="btnUsers" id="change">Zmień</button>

		<div id="changeResult"></div>
	</div>
</div>
<div id="list" class="listUsers">

</div>